*{
    box-sizing:border-box;
}

html{
    font-size: 62.5% ;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 1.4rem;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background:  #f8f9fa;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #fcbf49;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 0.2rem solid #f8f9fa;  /* creates padding around scroll thumb */
  }

.header{
    width: 120rem;
    height: 10rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    width: 100vw;   
    background-color: #0D3A66;
}


header {
  /* position: fixed;
  overflow: hidden; */
  width: 100vw;
  /* z-index: 999; */
  border-bottom: 0.2rem solid #FFF ;
}

header .logo{
    font-family: 'Cormorant Garamond', "roboto", serif;
    font-size:3.5rem;
    display: flex;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid #fff;
    /* float: left; */
}

header .logo h1:first-child{
    margin-right: 1rem;
}

.nav-bar .ul-menu{
    display:flex;
}

.ul-menu a{
    display: inline-block;   
    font-size: 2rem;
    text-decoration:none;
    color:#FFF;
    margin-right: 1rem;
    text-transform:uppercase;
    cursor:pointer;
    font-weight: 400;
    /* float: right; */
}

.ul-menu a.active{
    color: #ffd60a;
}

/* header end */

.default.purple-{
    background-color: #0D3A66;
    width: 100vw;
}


.default.white-{
    background-color: #FFF;
    width: 100vw;
}

.purple- .default-title,
.purple- .default-desc{
    color: #FFF;
    text-align: center;
}

.white- .default-title,
.white- .default-desc{
    color: #000;
}

.default-title{
    font-size: 3.5rem;
    font-family: 'Cormorant Garamond', "roboto", serif;
    font-weight: 600;
    letter-spacing: 0.5rem;
}

.default-desc{
    font-size: 1.7rem;
}

.default .area-body{
    width: 120rem;
    margin: 0 auto;
}




/* start hero */

.section-hero .default{
  /* padding-top: 10rem; */
}

.section-hero .default.purple-{
    background-image: url(../img/blue_texture_-_Vintage_Series_De.jpg);
    background-size: cover;
    
}
.hero{
    padding-top: 4rem;
    background-color: rgba(7, 39, 89, 0.8);
}

.section-hero .area-body{
    display: flex;
    height: 100%;
}


.hero-left{
    width: 50%;
    color: #fff;
    padding-top: 10rem;
}

.hero-left .hello-i-am{
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}


.hero-left .my-name{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 6rem;
    margin-bottom: 1.5rem;
    text-shadow: -2px 3px  #555;
}

.hero-left .function{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    line-height: 3.5rem;
}

.hero-left .hero-desc{
    font-size: 1.6rem;
    width: 70%;
    line-height: 2.1rem;
}

.hero-left .social-midia{
    display: flex;
    height: 30rem;
    align-items: center;
}
.social-midia .icons-redes-socias{
    margin-right: 1rem;
}

.hero-left .social-midia a img {
    height: 4rem;
    width: 4rem;
}

.area-body .hero-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
}

.hero-right img{
    height: 58rem;
    z-index: 5;
}

.hero-right .circle{
    position: absolute;
    width: 55rem;
    height: 55rem;
    border-radius: 30rem;
    background-color: #ffd500;  
    z-index: 2;  
}

/* hero end */

.ability .area-body{
    height: 35rem;
}

.ability .area-cards{   
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

}

.ability .card{
    width: 30%;
    background-image:radial-gradient(circle,#08539d,#0a2c4e);
    height: 20rem;
    border-radius:1.5rem;
    display: flex;
    flex-direction:column;
    align-items: center;

}

.ability .card .icon-card {
    margin-top: 1rem;
}

.ability .card .title-card{
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
}

.ability .card .title-card p{
    color: #FFF;
    font-size: 2rem;
}

.ability .card .desc-card p {
    color: rgb(181, 179, 179);
    font-size: 1.3rem;
    padding: 1rem 2rem;
    text-align: center;
}

/* ability end */
.section-sobre-mim .default.purple-{
   background-image: url(../img/viaturas-pg.jpg);    
   background-size: cover;
}

.sobre-mim {
    background-color: rgba(1, 31, 71, 0.9);
}


.sobre-mim .area-body{
    display: flex;
    padding-top: 10rem;
    padding-bottom:5rem;
}

.sobre-left{
    margin-right: 5rem;
}

.sobre-left img{
    height: 52rem;
    border-radius: 1.5rem;
    margin-right: 4rem;
    margin-right: 1rem;
}

.sobre-right .sobre-title{
    font-size: 3rem;
    text-transform: uppercase;
    color: #ffd500;
    margin-bottom: 2rem;
}

.sobre-right .sobre-desc{
    font-size: 1.8rem;
    color: #FFF;
}

.sobre-right .sobre-desc p{
    margin-bottom: 2rem;
    line-height: 2.5rem;
}

.sobre-desc #sobre-p{
    margin-bottom: 0;
}

.sobre-right .button-sobre-mim{
    width: 100%;
    display: flex;
    padding-top: 5rem;
    align-items: center;
}

.sobre-right .button-sobre-mim button{
    text-align: center;
    background-color: #ffbf00;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 55rem;
    font-size: 2rem;
    color: #f1f1f1;
    text-shadow: 1px 1px 3px #000; 
    cursor: pointer;
}

/* end sobre mim */
.professional-area-cards{
    display: flex;
    justify-content: space-between;
    padding-bottom:10rem;
    flex-wrap:wrap;
}


.professional-card{
    width: 28rem;
    height: 20rem;
    background-image:radial-gradient(circle,#08539d,#0a2c4e);
    border-radius: 1.5rem;
    margin-top: 5rem;
}

.professional .area-body .default-title{
    text-align: center;
    padding-top: 5rem;
    text-transform: uppercase;
		text-shadow: -0.1rem 0.1rem 0.1rem #999;
}



/* end abilidades profisionais  */

.section-podcast .area-body{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.area-podcast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.area-podcast #podcast-podben{
  display: flex;
  justify-content: center;
  width: 100%;
}

.area-podcast .video-podcast{
  margin-bottom: 5rem;
}

.section-podcast .area-body .default-title{
  margin-bottom: 1rem;
  font-size: 4rem;
  color: #ffd500;
	text-transform: uppercase;
}

.section-podcast .area-body .default-desc{
  margin-bottom: 5rem;
  font-size: 1.9rem;
}





