*{
    box-sizing:border-box;
}

html{
    font-size: 62.5% ;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: #0D3A66;
}
body::-webkit-scrollbar {
    width: 1.4rem; 
}

body::-webkit-scrollbar-track {
background:  #f8f9fa; 
}

body::-webkit-scrollbar-thumb {
background-color: #fcbf49;
border-radius: 20px; 
border: 0.2rem solid #f8f9fa;
}

.button-return-top{
    width: 6rem;
    height: 6rem;
    background-color: #e3ab02;
    position: fixed;
    z-index: 999;
    border: none;
    border-radius: 3rem;
    right: 2rem;
    bottom: 2rem;
    cursor:pointer;
    display: none;
    transition: all .2s;
    
    opacity: 0.7;
}

.button-return-top img{
    height: 3rem;
}

.header{
    width: 120rem;
    height: 10rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    width: 100vw;   
    background-color: #0D3A66;
}

header {
  width: 100vw;
}

header .logo{
    font-family: 'Cormorant Garamond', "roboto", serif;
    font-size:3.5rem;
    display: flex;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid #fff;
}

header .logo h1:first-child{
    margin-right: 1rem;
}

.nav-bar {
    display: flex;
}

.nav-bar .ul-menu{
    display:flex;
}

.ul-menu a{
    display: inline-block;   
    font-size: 2rem;
    text-decoration:none;
    color:#FFF;
    margin-right: 1rem;
    text-transform:uppercase;
    cursor:pointer;
    font-weight: 400;
}

.menu-mobile{
    display: none;
}

.ul-menu a:hover{
    color: #ffd60a;
    background-color: #0D3A66;
}

/* header end */

.default.blue-{
    background-color: #0D3A66;
    width: 100vw;
}

.default.white-{
    background-color: #f1f1f1;
    width: 100vw;
}

.blue- .default-title,
.blue- .default-desc{
    color: #FFF;
    text-align: center;
}

.white- .default-title,
.white- .default-desc{
    color: #000;
}

.default-title{
    font-size: 3.5rem;
    font-family: 'Cormorant Garamond', "roboto", serif;
    font-weight: 600;
    letter-spacing: 0.5rem;
}

.default-desc{
    font-size: 1.7rem;
}

.default .area-body{
    width: 120rem;
    margin: 0 auto;
}

/* start hero */

.section-hero .default.blue-{
    background-image: url(../img/blue_texture_-_Vintage_Series_De.jpg);
    background-size: cover;
    
}
.hero{
    padding-top: 4rem;
    background-color: rgba(7, 39, 89, 0.8);
}

.section-hero .area-body{
    display: flex;
    height: 100%;
    overflow-x: hidden;
    overflow-y:hidden
}

.hero-left{
    width: 50%;
    color: #fff;
    margin-top: 5rem;
}

.hero-left .hello-i-am{
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    padding-top: 5rem;
}

.hero-left .my-name{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 6rem;
    margin-bottom: 1.5rem;
    text-shadow: -2px 3px  #555;
}

.hero-left .function{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    line-height: 3.5rem;
}

.hero-left .hero-desc{
    font-size: 1.6rem;
    width: 70%;
    line-height: 2.1rem;
}

.hero-left .social-midia{
    display: flex;
    height: 20rem;
    align-items: center;
}
.social-midia .icons-redes-socias{
    margin-right: 1rem;
}

.hero-left .social-midia a img {
    height: 4rem;
    width: 4rem;
}
.hero-left .social-midia a .hero-icon-linkedin{
    height: 4.2rem;
    width: 4.2rem;           
}

.area-body .hero-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
}

.hero-right img{
    height: 58rem;
    z-index: 5;
}

.hero-right .circle{
    position: absolute;
    width: 55rem;
    height: 55rem;
    border-radius: 30rem;
    background-color: #EECF51;  
    z-index: 2;  
}

/* hero end */

.ability .area-body{
    height: 35rem;
}

.ability .area-cards{   
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem;
    height: 100%;
    align-items: center;
}

.ability .card{
    background-image:radial-gradient(circle,#08539d,#0a2c4e);
    height: 20rem;
    border-radius:1.5rem;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.ability .card .icon-card {
    margin-top: 1rem;
}

.ability .card .title-card{
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
}

.ability .card .title-card p{
    color: #FFF;
    font-size: 2rem;
}

.ability .card .desc-card p {
    color: rgb(181, 179, 179);
    font-size: 1.3rem;
    padding: 1rem 2rem;
    text-align: center;
}

/* ability end */
.section-sobre-mim .default.blue-{
   background-image: url(../img/viaturas-pg.jpg);    
   background-size: cover;
}

.sobre-mim {
    background-color: rgba(1, 31, 71, 0.9);
}

.sobre-mim .area-body{
    display: flex;
    padding-top: 10rem;
    padding-bottom:5rem;
}

.sobre-left{
    margin-right: 5rem;
}

.sobre-left img{
    height: 52rem;
    border-radius: 1.5rem;
    margin-right: 4rem;
    margin-right: 1rem;
}

.sobre-right .sobre-title{
    font-size: 3rem;
    text-transform: uppercase;
    color: #ffd500;
    margin-bottom: 2rem;
}

.sobre-right .sobre-desc{
    font-size: 1.8rem;
    color: #FFF;
}

.sobre-right .sobre-desc p{
    margin-bottom: 2rem;
    line-height: 2.5rem;
}

.sobre-desc #sobre-p{
    margin-bottom: 0;
}

.sobre-right .button-sobre-mim{
    display: flex;
    padding-top: 5rem;
    align-items: center;
    width: 50%;
    justify-content: center;
}

/* end sobre mim */
.professional-area-cards{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 4rem;
}

.professional-card{
    
    height: 32rem;
    background-image:radial-gradient(circle,#08539d,#0a2c4e);
    border-radius: 1.5rem;
    margin-top: 5rem;
    padding: 2rem;
    cursor: default;
    text-transform: uppercase;
}

.professional .area-body .default-title{
    text-align: center;
    padding-top: 5rem;
    text-transform: uppercase;
	text-shadow: -0.1rem 0.1rem 0.1rem #999;  
}

.professional-title-card h2{
    font-size: 2.2rem;
    color: #ffbf00;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem; 
}

.professional-title-card p{
    color: #b5b3b3;
    text-align: center;
    font-size: 1.4rem;
}

.professional-desc-card{
    font-size: 1.7rem;
    color:#FFF;
    text-align: center;
}

.professional-desc-card li{
    padding-bottom: 1rem;
    text-decoration: none;
    display: inline-block;
    text-shadow: -0.1rem 0.1rem 0.3rem #000;
    padding-top: 1rem;
}

#profesional-gcm-desc-card{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 80%;
   flex-direction: column;
}

#card-pro-1{
    order:1;
}
#card-pro-2{
    order:4;
}
#card-pro-3{
    order:6;
}
#card-pro-4{
    order:5;
}
#card-pro-5{
    order: -1;
}
#card-pro-6{
    order: -2;
}

.area-button-curriculo{
    width: 100%;
    display: flex;
    padding-top: 5rem;
    align-items: center;
    justify-content: center;
    height: 15rem;
    padding-bottom: 5rem;
}

/* end abilidades profisionais  */

.section-podcast .area-body{
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area-podcast {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap: 5rem;
    margin-bottom: 4rem;
}

.section-podcast .area-body .default-title{
  margin-bottom: 1rem;
  font-size: 4rem;
  color: #ffd500;
  text-transform: uppercase;
}

.section-podcast .area-body .default-desc{
  margin-bottom: 5rem;
  font-size: 1.9rem;
}

/* end podcast */

.section-book .default.white-{
   background-image: url(../img/bg-cinza.jpg);
   background-position: center;
   background-size: cover;
}

.section-book .book{
    background-color: rgba(204, 202, 202, 0.5); 
}

.section-book .default-title,
.section-book .default-desc{
    text-align: center;
}

.section-book .default-title{
    font-size: 4rem;
    text-transform: uppercase;
}

.section-book .default-desc{
   font-size: 1.9rem; 
   color: #333;
}

.section-book .default-desc h3{
    font-size: 2.2rem; 
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
 }

 .section-book .default-desc span{
    text-transform: uppercase;
    font-family: 'Cormorant Garamond', "roboto", serif;
    font-weight: bold;
 }

.section-book .area-body{
    padding-top: 5rem;
}

.img-book{
    display: flex;
    justify-content: center;
}

.area-book{
    height: 52rem;
}

.img-book img{
    height: 45rem;
    box-shadow: 4px 4px 5px #555;
    margin-top: 5rem;
}
.img-book img:hover{
    height: 48rem;
    transition: all .2s; 
}

.button-book{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #ffbf00;
    color: #000; 
    font-size: 1.7rem;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #e3ab02;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* end books */

.area-footer{
    display: flex;
    flex-direction: column;
}

.footer-1{
    padding-top: 3rem;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.footer-1 .default-title{
    font-family: "roboto", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
}

.area-button-footer .btn:link,
.area-button-footer .btn:visited  {
    padding: 1rem 3rem;
    border-radius: 0.5rem;
}

.button-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.button-footer .btn::after {
    border-radius: 0.5rem;
}

.footer-2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ccc;
}

.footer-2 .footer-social{
    display: flex;
    align-items: center;
}

.footer-2 .footer-social .follow-me-footer{
    font-size: 1.7rem;
    color: #f1f1f1;
}

.footer-2 .footer-social .icons-social-footer{
    margin-right: 1rem;
}

.footer-2 .footer-social img{
    height: 3rem;
}

.footer-2 .footer-social-2{
    display: flex;
    align-items: center;
}

.footer-2 .footer-social-2 img{
    height: 3rem;
    
    margin-right: 0.5rem;
}

.footer-2 .footer-social-2 .e-mail-link{
    text-decoration: none;
    color: #f1f1f1;
    font-size: 1.5rem;
}

.footer-2 .footer-social-2 .e-mail-link:hover{
    text-decoration: underline;
    color: #6fb0f1;
}

.footer-3 {
    margin: 2rem;
}

.footer-3 .copy-footer{
    display: flex;
    justify-content: center;
    color: #b5b3b3;
    font-size: 1.3rem;

}

.footer-3 .copy-footer a{
    color: #b5b3b3 ;
    text-decoration: none;
}

.footer-3 .copy-footer a:hover{
    text-decoration: underline;
}

